/*Home page*/
.post-div{
	margin-top:10px;
	margin-bottom:10px;
	-webkit-box-shadow: 2px 2px 20px -4px rgba(0,0,0,0.67);
	-moz-box-shadow: 2px 2px 20px -4px rgba(0,0,0,0.67);
	box-shadow: 2px 2px 20px -4px rgba(0,0,0,0.67);

	height:150px;
}

.post-div > img{
	max-width:230px;
	float:left;
	max-height:120px;
	padding:10px;
}

.text-section{
	width:calc(100% - 250px);
	float:right;
}

.text-section>h2{
	padding-top:10px;
}

/*Comments*/
.comment{
	margin:0px !important;
}

.meta{
	color:#3490dc;
	font-weight:bold;
}

/*Toggle*/
.toggle > form > input[name='state_post']{
	visibility: hidden;
}

.on, .off{
	padding:4.5px;
	float:left;
	background-color:rgba(222,222,222,0.7);
	border:1px solid rgba(222,222,222,1);
}

.on-on{
	background-color:#17DE9D;
}

.off-off{
	background-color:#FF2831;
}

textarea[name='body_text']{
	height:400px;
}

/*.toggle > form > input[name='state_post']:checked+label{
	background-color:red;
}*/

/*.toggle > input[type='radio']:after{
	content:'1';
	visibility: visible;
}

.toggle > input[type='radio']:before{
	content:'0';
	visibility: visible;
	border:1px solid;
	padding:5px;
	background-color:lightgray;
}*/